:root{
  --primary-color: #0a192f;
  --secondary-color: #48b5a4;
  --text1: #ccd6f6;
  --text2: #8892b0;

}
*{
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;

}
*::-webkit-scrollbar {
  display: none;
}
* > a {
  text-decoration: none;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
